{% extends "../layouts/v4-layout.html" %}

{% set serviceName %}
  Fraud referral form
{% endset %}

{% block pageTitle %}
  Give feedback – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Give feedback
          </h1>

          <h2 class="govuk-heading-m">
            How could we improve this service?
          </h2>
          <p class="govuk-body">
            Do not include any sensitive or customer information. When you sumbit this form, the Fraud referral form 
            product team will see your name and email address.
          </p>
          <p class="govuk-body">
            We review feedback monthly and use it to improve the service. We will contact you if we need more information.
          </p>
          <p class="govuk-body">You could include:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-2">
            <li>what you were doing</li>
            <li>what helped or made it difficult</li>
            <li>the impact of this</li>
          </ul>

          {# PROVIDE DETAILS #}
          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1200" id="provide-details">
            <div class="govuk-form-group">
              <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="provide-details">
                  Provide details
                </label>
              </h2>
              <textarea class="govuk-textarea govuk-js-character-count" id="provide-details" name="provide-details" rows="10" aria-describedby="provide-details-info">{{ data['provide-details'] }}</textarea>
            </div>
            <div id="provide-details-info" class="govuk-hint govuk-character-count__message">
              You can enter up to 1200 characters
            </div>
          </div>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              This form is for your Fraud referral form feedback. To report system errors you must raise an incident on DWP Place.
            </strong>
          </div>

        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Send feedback"
          }) }}
          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
