{% extends "../layouts/v2-layout.html" %}

{% set serviceName %}

{% endset %}

{% block pageTitle %}
  Staff referrals – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      give feedback
    </strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a class="govuk-link" href="#">help us to improve it</a>.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Fraud Referral Form
      </h1>

      <p class="govuk-body">
        Use this service to report someone you suspect of benefit fraud.
      </p>

      <p class="govuk-body">
        Enter as much detail as you can, including the person's National Insurance number if you know it.
      </p>

      <p class="govuk-body">
        <strong>Do not</strong> search any departmental systems for more details or to check any information you are given.
      </p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">
            Warning
          </span>
          Searching departmental systems for this information could be treated as unauthorised access and 
          may result in disciplinary action.
        </strong>
      </div>

      {## Script, etc., to enable and disable START NOW on 'Terms' selection ##}
      <script type="text/javascript">
        function valueChanged() {
          if ($('#agree').is(":checked")) {
            $("#agree-disabled").hide();
            $("#agree-enabled").show();
          } else {
            $("#agree-disabled").show();
            $("#agree-enabled").hide();
          }
        }
      </script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

      <form class="form" method="post">
        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item govuk-!-margin-bottom-6">
              <input class="govuk-checkboxes__input" id="agree" name="agree" type="checkbox" value="agree" onchange="valueChanged()">
              <label class="govuk-label govuk-checkboxes__label" for="agree">
                Agree to terms
              </label>
            </div>
          </div>

          <div class="row" id="agree-disabled">
            {{ govukButton({
              text: "Start now",
              isStartButton: true,
              disabled: true
            }) }}
          </div>

          <div class="row" id="agree-enabled" style="display: none">
            {{ govukButton({
              text: "Start now",
              isStartButton: true
            }) }}
          </div>

        </div>
      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful phone numbers
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">

        <h3 class="govuk-heading-s">Great Britain</h3>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <strong>Benefit Fraud Hotline</strong>
            </li>
            <li>
              0800 854 440 (English)
            </li>
            <li>
              0800 678 3722 (Welsh)
            </li>
          </ul>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <strong>Textphone users</strong>
            </li>
            <li>
              0800 328 0512
            </li>
          </ul>

        <h3 class="govuk-heading-s">Northern Ireland</h3>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <strong>Benefit Fraud Hotline</strong>
            </li>
            <li>
              0800 975 6050
            </li>
          </ul>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <strong>Textphone users</strong>
            </li>
            <li>
              028 9055 6991
            </li>
          </ul>
         
        </nav>
      </aside>
    </div>

  </div>

{% endblock %}
