{% extends "../layouts/v2-layout.html" %}

{% block pageTitle %}
  Source of allegation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Source of allegation
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation" name="source-of-allegation" type="radio" value="hmrc" {{ checked("source-of-allegation", "hmrc") }} >
                <label class="govuk-label govuk-radios__label" for="source-of-allegation">
                  HMRC
                </label>
                <div id="source-of-allegation-item-hint" class="govuk-hint govuk-radios__hint">
                  HMRC additional hint text.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation-2" name="source-of-allegation" type="radio" value="internet" {{ checked("source-of-allegation", "internet") }} >
                <label class="govuk-label govuk-radios__label" for="source-of-allegation-2">
                  Internet
                </label>
                <div id="source-of-allegation-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Internet additional hint text.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation-3" name="source-of-allegation" type="radio" value="local-authority" {{ checked("source-of-allegation", "local-authority") }} >
                <label class="govuk-label govuk-radios__label" for="source-of-allegation-3">
                  Local authority
                </label>
                <div id="source-of-allegation-3-item-hint" class="govuk-hint govuk-radios__hint">
                  Local authority additional hint text.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation-4" name="source-of-allegation" type="radio" value="member-of-public" {{ checked("source-of-allegation", "member-of-public") }} >
                <label class="govuk-label govuk-radios__label" for="source-of-allegation-4">
                  Member of public
                </label>
                <div id="source-of-allegation-4-item-hint" class="govuk-hint govuk-radios__hint">
                  Member of public additional hint text.
                </div>
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-5" name="source-of-allegation" type="radio" value="national-benefit-fraud-hotline" {{ checked("source-of-allegation", "national-benefit-fraud-hotline") }} >
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-5">
                    National Benefit Fraud Hotline
                  </label>
                  <div id="source-of-allegation-5-item-hint" class="govuk-hint govuk-radios__hint">
                    National Benefit Fraud Hotline additional hint text.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-6" name="source-of-allegation" type="radio" value="performance-measure-referral" {{ checked("source-of-allegation", "performance-measure-referral") }} >
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-6">
                    Performance measure referral
                  </label>
                  <div id="source-of-allegation-6-item-hint" class="govuk-hint govuk-radios__hint">
                    Performance measure referral additional hint text.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-7" name="source-of-allegation" type="radio" value="police" {{ checked("source-of-allegation", "police") }} >
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-7">
                    Police
                  </label>
                  <div id="source-of-allegation-7-item-hint" class="govuk-hint govuk-radios__hint">
                    Police additional hint text.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-8" name="source-of-allegation" type="radio" value="spanish-hotline" {{ checked("source-of-allegation", "spanish-hotline") }} >
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-8">
                    Spanish Hotline
                  </label>
                  <div id="source-of-allegation-8-item-hint" class="govuk-hint govuk-radios__hint">
                    Spanish Hotline additional hint text.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-9" name="source-of-allegation" type="radio" value="staff-referral" {{ checked("source-of-allegation", "staff-referral") }} >
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-9">
                    Staff referral
                  </label>
                  <div id="source-of-allegation-9-item-hint" class="govuk-hint govuk-radios__hint">
                    Staff referral additional hint text.
                  </div>
                </div>
              </div>

          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: "govuk-!-margin-top-2"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
