{% extends "../layouts/v2-layout.html" %}

{% set serviceName %}
  Fraud referral form
{% endset %}

{% block pageTitle %}
  Suspect's details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      give feedback
    </strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a class="govuk-link" href="#">help us to improve it</a>.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    
      <form class="form" method="post">

        <div class="govuk-form-group">

          <h1 class="govuk-heading-l">
            Suspect's details
          </h1>

          <fieldset class="govuk-fieldset">

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="suspects-first-name" id="section-suspects-first-name">
                First name (optional)
              </label>
              <input class="govuk-input" id="suspects-first-name" name="suspects-first-name" value="{{ data['suspects-first-name'] }}" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="suspects-last-name" id="section-suspects-last-name">
                Last name (optional)
              </label>
              <input class="govuk-input" id="suspects-last-name" name="suspects-last-name" value="{{ data['suspects-last-name'] }}" type="text">
            </div>

            {## Known by another name #}

            {##
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="known-by-another-name-full-name" id="known-by-another-name-full-name">
                Known by another name? (optional)
              </label>
              <input class="govuk-input" id="known-by-another-name-full-name" name="known-by-another-name-full-name" value="{{ data['known-by-another-name-full-name'] }}" type="text" spellcheck="false">
            </div>
            ##}

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Known by another name? (optional)
              </legend>
              <p class="govuk-body-m">
                Enter any other names the suspect maybe known by.
              </p>
              <div class="container">
                <div class='govuk-form-group' id='known-by-another-name-full-name_1'>
                  <label class="govuk-label" for="known-by-another-name-full-name_1">
                    Other name
                  </label>
                  <p class="govuk-body">
                    <input class="govuk-input" type='text' name='known-by-another-name-full-name_1' value="{{ data['known-by-another-name-full-name_1'] }}"  autocomplete="off">
                  </p>
                </div>

                {% if data['known-by-another-name-full-name_2'] %}
                <div class='govuk-form-group' id='known-by-another-name-full-name_2'>
                  <label class="govuk-label" for="known-by-another-name-full-name_2">
                    Name
                  </label>
                  <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-right-6" type='text' name='known-by-another-name-full-name_2' value="{{ data['known-by-another-name-full-name_2'] }}"  autocomplete="off"> 
                  <span id='remove_2' class='govuk-button govuk-button--secondary remove' aria-labelledby="remove_2">Remove</span>
                </div>
                {% endif %}

                {% if data['known-by-another-name-full-name_3'] %}
                <div class='govuk-form-group' id='known-by-another-name-full-name_3'>
                  <label class="govuk-label" for="known-by-another-name-full-name_3">
                    Name
                  </label>
                  <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-right-6" type='text' name='known-by-another-name-full-name_3' value="{{ data['known-by-another-name-full-name_3'] }}"  autocomplete="off"> 
                  <span id='remove_3' class="govuk-button govuk-button--secondary remove" aria-labelledby="remove_3">Remove</span>
                </div>
                {% endif %}
              </div>
            </fieldset>
            <div class="govuk-button govuk-button--secondary govuk-!-margin-bottom-6 add" value="Add another name">
              Add another name
            </div>

            {##
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="known-by-another-name">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" id="section-known-by-another-name">
                  Is the suspect known by another name?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="known-by-another-name" name="known-by-another-name" type="radio" value="yes" {{ checked("known-by-another-name", "yes") }} data-aria-controls="conditional-known-by-another-name">
                    <label class="govuk-label govuk-radios__label" for="known-by-another-name">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-known-by-another-name">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="known-by-another-name-full-name">
                        Full name
                      </label>
                      <input class="govuk-input" id="known-by-another-name-full-name" name="known-by-another-name-full-name" value="{{ data['known-by-another-name-full-name'] }}" type="text" spellcheck="false">
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="known-by-another-name-2" name="known-by-another-name" type="radio" value="no" {{ checked("known-by-another-name", "no") }} data-aria-controls="conditional-known-by-another-name-2">
                    <label class="govuk-label govuk-radios__label" for="known-by-another-name-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            ##}

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="suspects-ni-number" id="section-suspects-ni-number">
                National Insurance number (optional)
              </label>
              <div id="suspects-ni-number-hint" class="govuk-hint">
                For example, 'QQ 12 34 56 C'.
              </div>
              <input class="govuk-input govuk-input--width-10" id="suspects-ni-number" name="suspects-ni-number" value="{{ data['suspects-ni-number'] }}" type="text">
            </div>
            
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading" id="section-suspects-address">
                  Suspect's address
                </h2>
              </legend>

              <div class="govuk-form-group">
                <label class="govuk-label" for="suspects-address-line-1">
                  Address line 1
                </label>
                <input class="govuk-input" id="suspects-address-line-1" name="suspects-address-line-1" value="{{ data['suspects-address-line-1'] }}" type="text" autocomplete="address-line1">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="suspects-address-line-2">
                  Address line 2 (optional)
                </label>
                <input class="govuk-input" id="suspects-address-line-2" name="suspects-address-line-2" value="{{ data['suspects-address-line-2'] }}" type="text" autocomplete="address-line2">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="suspects-address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="suspects-address-town" name="suspects-address-town" value="{{ data['suspects-address-town'] }}" type="text" autocomplete="address-level2">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="suspects-address-county">
                  County (optional)
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="suspects-address-county" name="suspects-address-county" value="{{ data['suspects-address-county'] }}" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="suspects-address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="suspects-address-postcode" name="suspects-address-postcode" value="{{ data['suspects-address-postcode'] }}" type="text" autocomplete="postal-code">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="suspects-address-region">
                  Region
                </label>
                <select class="govuk-select" id="suspects-address-region" name="suspects-address-region" aria-describedby="suspects-address-region">
                  <option value="choose" {% if data['suspects-address-region'] == 'null' %} selected{% endif %}>Choose region</option>
                  <option value="centralengland" {% if data['suspects-address-region'] == 'centralengland' %} selected{% endif %}>Central England</option>
                  <option value="londonandthehomecounties" {% if data['suspects-address-region'] == 'londonandthehomecounties' %} selected{% endif %}>London and the Home Counties</option>
                  <option value="northeastengland" {% if data['suspects-address-region'] == 'northeastengland' %} selected{% endif %}>North East England</option>
                  <option value="northernireland" {% if data['suspects-address-region'] == 'northernireland' %} selected{% endif %}>Northern Ireland</option>
                  <option value="northwestengland" {% if data['suspects-address-region'] == 'northwestengland' %} selected{% endif %}>North West England</option>
                  <option value="scotland" {% if data['suspects-address-region'] == 'scotland' %} selected{% endif %}>Scotland</option>
                  <option value="southernengland" {% if data['suspects-address-region'] == 'southernengland' %} selected{% endif %}>Southern England</option>
                  <option value="wales" {% if data['suspects-address-region'] == 'wales' %} selected{% endif %}>Wales</option>
                </select>
              </div>

            </fieldset>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="suspects-date-of-birth-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-body govuk-!-padding-top-6">
                  <h2 class="govuk-fieldset__heading" id="section-suspects-date-of-birth">
                    Date of birth (optional)
                  </h2>
                </legend>
                <div id="suspects-date-of-birth-hint" class="govuk-hint">
                  For example, 27 3 2004
                </div>
                <div class="govuk-date-input" id="suspects-date-of-birth">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="suspects-date-of-birth-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="suspects-date-of-birth-day" name="suspects-date-of-birth-day" value="{{ data['suspects-date-of-birth-day'] }}" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="suspects-date-of-birth-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="suspects-date-of-birth-month" name="suspects-date-of-birth-month" value="{{ data['suspects-date-of-birth-month'] }}" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="suspects-date-of-birth-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="suspects-date-of-birth-year" name="suspects-date-of-birth-year" value="{{ data['suspects-date-of-birth-year'] }}" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="suspects-contact-details-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    Suspect's contact details (optional)
                  </h2>
                </legend>
                <div id="suspects-contact-details-hint" class="govuk-hint">
                  Select all contact details that are relevant to the suspect.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  
                  {# TELEPHONE NUMBER #}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="contact-telephone" name="contact-telephone" type="checkbox" value="telephone" {{ checked("contact-telephone", "telephone") }} data-aria-controls="conditional-contact-telephone">
                    <label class="govuk-label govuk-checkboxes__label" for="contact-telephone">
                      Telephone
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-telephone">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="suspect-contact-telephone">
                        Telephone number
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="suspect-contact-telephone" name="suspect-contact-telephone" value="{{ data['suspect-contact-telephone'] }}" type="tel" autocomplete="tel">
                    </div>
                  </div>

                  {# MOBILE TELEPHONE NUMBER #}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="contact-mobile" name="contact-mobile" type="checkbox" value="mobile" {{ checked("contact-mobile", "mobile") }} data-aria-controls="conditional-contact-mobile">
                    <label class="govuk-label govuk-checkboxes__label" for="contact-mobile">
                      Mobile
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-mobile">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="suspect-contact-mobile">
                        Mobile number
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="suspect-contact-mobile" name="suspect-contact-mobile" value="{{ data['suspect-contact-mobile'] }}" type="tel" autocomplete="tel">
                    </div>
                  </div>
                  
                  {# EMAIL ADDRESS #}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="contact-email" name="contact-email" type="checkbox" value="email" {{ checked("contact-email", "email") }} data-aria-controls="conditional-contact-email">
                    <label class="govuk-label govuk-checkboxes__label" for="contact-email">
                      Email
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-email">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="suspect-contact-email">
                        Email address
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="suspect-contact-email" name="suspect-contact-email" value="{{ data['suspect-contact-email'] }}" type="email" spellcheck="false" autocomplete="email">
                    </div>
                  </div>

                </div>
              </fieldset>
            </div>

          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: "govuk-!-margin-top-2"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
