{% extends "../layouts/v2-layout.html" %}

{% block pageTitle %}
  What do you think is happening? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      give feedback
    </strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a class="govuk-link" href="#">help us to improve it</a>.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="what-do-you-think-is-happening-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What do you think is happening?
              </h1>
            </legend>
            <div id="what-do-you-think-is-happening-hint" class="govuk-hint">
              Select only those that apply.
            </div>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              
              {# LIVING TOGETHER #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="living-together" name="living-together" type="checkbox" value="living-together" {{ checked("living-together", "living-together") }} data-aria-controls="conditional-living-together">
                <label class="govuk-label govuk-checkboxes__label" for="living-together">
                  Living together
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-living-together">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Living together
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include as much information as you can, for example the alleged partner name and any addresses involved.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="living-together-hint" name="living-together-hint" rows="5" aria-describedby="living-together-hint-info living-together-hint-hint">{{ data['living-together-hint'] }}</textarea>
                  </div>
                  <div id="living-together-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

              {# WORKING AND CLAIMING #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="working-and-claiming" name="working-and-claiming" type="checkbox" value="working-and-claiming" {{ checked("working-and-claiming", "working-and-claiming") }} data-aria-controls="conditional-working-and-claiming">
                <label class="govuk-label govuk-checkboxes__label" for="working-and-claiming">
                  Working and claiming
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-working-and-claiming">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Working and claiming
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include as much information as you can, for example their employer's details, how they travel to work and details of their routine.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="working-and-claiming-hint" name="working-and-claiming-hint" rows="5" aria-describedby="working-and-claiming-hint-info working-and-claiming-hint-hint">{{ data['working-and-claiming-hint'] }}</textarea>
                  </div>
                  <div id="working-and-claiming-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

              {# CAPITAL #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="capital" name="capital" type="checkbox" value="capital" {{ checked("capital", "capital") }} data-aria-controls="conditional-capital">
                <label class="govuk-label govuk-checkboxes__label" for="capital">
                  Capital
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-capital">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Capital
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include as much information as you can, for example the amount, when they received it and where it came from.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="capital-hint" name="capital-hint" rows="5" aria-describedby="capital-hint-info capital-hint-hint">{{ data['capital-hint'] }}</textarea>
                  </div>
                  <div id="capital-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

              {# OTHER INCOME #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-income" name="other-income" type="checkbox" value="other-income" {{ checked("other-income", "other-income") }} data-aria-controls="conditional-other-income">
                <label class="govuk-label govuk-checkboxes__label" for="other-income">
                  Other income
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-income">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Other income
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include as much information as you can, for example where the income comes from.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="other-income-hint" name="other-income-hint" rows="5" aria-describedby="other-income-hint-info other-income-hint-hint">{{ data['other-income-hint'] }}</textarea>
                  </div>
                  <div id="other-income-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

              {# ABROAD FRAUD #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="abroad-fraud" name="abroad-fraud" type="checkbox" value="abroad-fraud" {{ checked("abroad-fraud", "abroad-fraud") }} data-aria-controls="conditional-abroad-fraud">
                <label class="govuk-label govuk-checkboxes__label" for="abroad-fraud">
                  Abroad fraud
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-abroad-fraud">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Abroad fraud
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include as much information as you can, for example where they have gone, when they went and how long they have been abroad.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="abroad-fraud-hint" name="abroad-fraud-hint" rows="5" aria-describedby="abroad-fraud-hint-info abroad-fraud-hint-hint">{{ data['abroad-fraud-hint'] }}</textarea>
                  </div>
                  <div id="abroad-fraud-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

              {# DOUBTFUL DISABILITY #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="doubtful-disability" name="doubtful-disability" type="checkbox" value="doubtful-disability" {{ checked("doubtful-disability", "doubtful-disability")}} data-aria-controls="conditional-doubtful-disability">
                <label class="govuk-label govuk-checkboxes__label" for="doubtful-disability">
                  Doubtful disability
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-doubtful-disability">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Doubtful disability
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include as much information as you can, for example the type of disability, any disability equipment they use, and why you think the disability is in doubt.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="doubtful-disability-hint" name="doubtful-disability-hint" rows="5" aria-describedby="doubtful-disability-hint-info doubtful-disability-hint-hint">{{ data['doubtful-disability-hint'] }}</textarea>
                  </div>
                  <div id="doubtful-disability-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

              {# HOUSING RELATED #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="housing-related" name="housing-related" type="checkbox" value="housing-related" {{ checked("housing-related", "housing-related") }} data-aria-controls="conditional-housing-related">
                <label class="govuk-label govuk-checkboxes__label" for="housing-related">
                  Housing related
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-housing-related">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Housing related
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include as much information as you can, for example why you think they are not at the address, and if they return to it.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="housing-related-hint" name="housing-related-hint" rows="5" aria-describedby="housing-related-hint-info housing-related-hint-hint">{{ data['housing-related-hint'] }}</textarea>
                  </div>
                  <div id="housing-related-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

              {# OTHER #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other" name="other" type="checkbox" value="other" {{ checked("other", "other") }} data-aria-controls="conditional-other">
                <label class="govuk-label govuk-checkboxes__label" for="other">
                  Other
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                  <div class="govuk-form-group">
                    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with Other
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        Include details about the other type of fraud you think is being committed.
                      </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" id="other-hint" name="other-hint" rows="5" aria-describedby="other-hint-info">{{ data['other-hint'] }}</textarea>
                  </div>
                  <div id="other-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>
                </div>
              </div>

            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: "govuk-!-margin-top-2"
        }) }}
      
      </form>
    </div>
  </div>

{% endblock %}
