{% extends "../layouts/dev-stable-layout.html" %}

{% set serviceName %}
  Fraud referral form
{% endset %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      {# WHO DO YOU WANT TO REPORT? and SOURCE OF ALLEGATION #}
      <h2 class="govuk-heading-m" id="section-allegation-details">
        Allegation details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who do you want to report?
          </dt>
          <dd class="govuk-summary-list__value">
            {who-do-you-want-to-report}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="who-do-you-want-to-report">
              Change<span class="govuk-visually-hidden"> who do you want to report</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Source of allegation
          </dt>
          <dd class="govuk-summary-list__value">
            {source-of-allegation}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="source-of-allegation">
              Change<span class="govuk-visually-hidden"> source of allegation</span>
            </a>
          </dd>
        </div>
      </dl>

      {# SUSPECTS DETAILS #}
      <h2 class="govuk-heading-m" id="section-suspects-details">
        Suspect's details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>First name
          </dt>
          <dd class="govuk-summary-list__value">
            {suspects-first-name}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-personal-details#section-suspects-first-name">
              Change<span class="govuk-visually-hidden"> suspect's first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {suspects-last-name}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-personal-details#section-suspects-last-name">
              Change<span class="govuk-visually-hidden"> suspect's last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Other names
          </dt>
          <dd class="govuk-summary-list__value">
            {known-by-other-names}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-personal-details#section-known-by-other-names">
              Change<span class="govuk-visually-hidden"> suspect's other names</span>
            </a>
          </dd>
        </div>

        {# NATIONAL INSURANCE NUMBER #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {suspects-ni-number}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-personal-details#section-suspects-ni-number">
              Change<span class="govuk-visually-hidden"> suspect's National Insurance number</span>
            </a>
          </dd>
        </div>

        {# DATE OF BIRTH OR APPROXIMATE AGE #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Date of birth<br><br>{or}<br><br>
            <span class="govuk-visually-hidden">Suspect's </span>Approximate age<br><br>{or}<br><br>
            <span class="govuk-visually-hidden">Suspect's </span>Date of birth or approximate age
          </dt>
          <dd class="govuk-summary-list__value">
            {suspects-date-of-birth-month}<br><br>
            {or}<br><br>
            {suspects-date-of-birth-day}{suspects-date-of-birth-month}{suspects-date-of-birth-year}<br><br>
            {or}<br><br>
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-personal-details#suspects-date-of-birth">
              Change
            </a>
          </dd>
        </div>

        {# ADDRESS #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Address
          </dt>
          <dd class="govuk-summary-list__value">
            {suspects-address-line-1}<br>
            {suspects-address-line-2}<br>
            {suspects-address-town}<br>
            {suspects-address-county}<br>
            {suspects-address-postcode}<br><br>
            {or}<br><br>
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-address-and-contact-details#section-suspects-address">
              Change<span class="govuk-visually-hidden"> suspect's address</span>
            </a>
          </dd>
        </div>

        {# TELEPHONE NUMBER #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {suspect-contact-telephone}<br><br>
            {or}<br><br>
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-address-and-contact-details#contact-telephone">
              Change<span class="govuk-visually-hidden"> suspect's telephone number</span>
            </a>
          </dd>
        </div>

        {# MOBILE NUMBER #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            {suspect-contact-mobile}<br><br>
            {or}<br><br>
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-address-and-contact-details#contact-mobile">
              Change<span class="govuk-visually-hidden"> suspect's mobile number</span>
            </a>
          </dd>
        </div>

        {# EMAIL ADDRESS #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {suspect-contact-email}<br><br>
            {or}<br><br>
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-address-and-contact-details#contact-email">
              Change<span class="govuk-visually-hidden"> suspect's email address</span>
            </a>
          </dd>
        </div>

      </dl>

      {# WHAT FRAUD DO YOU THINK IS HAPPENING? #}
      <h2 class="govuk-heading-m" id="section-what-do-you-think-is-happening">
        What fraud do you think is happening?
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">

        {# LIVING TOGETHER #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Living together
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {living-together-hint}
            </p>
            <p class="govuk-body">
              ({how-long-living-together})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#living-together">
              Change<span class="govuk-visually-hidden"> living together</span>
            </a>
          </dd>
        </div>

        {# WORKING AND CLAIMING #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working and claiming
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {working-and-claiming-hint}
            </p>
            <p class="govuk-body">
              ({how-long-working-and-claiming})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happenin#working-and-claiming">
              Change<span class="govuk-visually-hidden"> working and claiming</span>
            </a>
          </dd>
        </div>

        {# ID FRAUD #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ID fraud
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {id-fraud-hint}
            </p>
            <p class="govuk-body">
              ({how-long-id-fraud})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#id-fraud">
              Change<span class="govuk-visually-hidden"> ID fraud</span>
            </a>
          </dd>
        </div>

        {# CAPITAL #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Capital
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {capital-hint}
            </p>
            <p class="govuk-body">
              ({how-long-capital})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#capital">
              Change<span class="govuk-visually-hidden"> capital</span>
            </a>
          </dd>
        </div>

        {# OTHER INCOME #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other income
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {other-income-hint}
            </p>
            <p class="govuk-body">
              ({how-long-other-income})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#other-income">
              Change<span class="govuk-visually-hidden"> other income</span>
            </a>
          </dd>
        </div>

        {# ABROAD FRAUD #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Abroad fraud
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {abroad-fraud-hint}
            </p>
            <p class="govuk-body">
              ({how-long-abroad-fraud})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#abroad-fraud">
              Change<span class="govuk-visually-hidden"> abroad fraud</span>
            </a>
          </dd>
        </div>

        {# DOUBTFUL DISABILITY #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Doubtful disability
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {doubtful-disability-hint}
            </p>
            <p class="govuk-body">
              ({how-long-doubtful-disability})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#doubtful-disability">
              Change<span class="govuk-visually-hidden"> doubtful disability</span>
            </a>
          </dd>
        </div>

        {# HOUSING RELATED #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Housing related
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {housing-related-hint}
            </p>
            <p class="govuk-body">
              ({how-long-housing-related})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#housing-related">
              Change<span class="govuk-visually-hidden"> housing related</span>
            </a>
          </dd>
        </div>

        {# NOT PROVIDING CARE #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Not providing care
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {not-providing-care-hint}
            </p>
            <p class="govuk-body">
              ({how-long-not-providing-care})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#not-providing-care">
              Change<span class="govuk-visually-hidden"> not providing care</span>
            </a>
          </dd>
        </div>

        {# OTHER TYPES OF FRAUD #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other types of fraud
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {other-hint}
            </p>
            <p class="govuk-body">
              ({how-long-other})
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-fraud-do-you-think-is-happening#other">
              Change<span class="govuk-visually-hidden"> other types of fraud</span>
            </a>
          </dd>
        </div>
  
      </dl>

      {# SUBMITTER'S DETAILS #}
      <h2 class="govuk-heading-m" id="section-submitters-details">
        Submitter's details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter </span>First name
          </dt>
          <dd class="govuk-summary-list__value">
            {submitters-first-name}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="submitters-details#section-submitters-first-name">
              Change<span class="govuk-visually-hidden"> submitter's first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter's </span>Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {submitters-last-name}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="submitters-details#section-submitters-last-name">
              Change<span class="govuk-visually-hidden"> submitter's last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter's </span>Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {submitters-email-address}<br><br>
            {or}<br><br>
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="submitters-details#section-submitters-email-address">
              Change<span class="govuk-visually-hidden"> submitter's email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <form class="form" method="post">
        {{ govukButton({
          text: "Confirm and submit",
          preventDoubleClick: true,
          href: "index"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
