{% set serviceName = "Dev/Stable" %}

{% extends "../layouts/dev-stable-layout.html" %}

{% block pageTitle %}
  Dev/Stable – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-form-group">{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
			{{ govukPhaseBanner({
			  tag: {
			    text: "Prototype"
			  },
			  html: 'Dev/Stable version'
			}) }}
		</div>
		{{ govukBackLink({
		  text: 'Back',
		  href: '/index'
		})}}
	</div>
	{#
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-l">Journey map</h1>
		<p class="govuk-body">
			<img src="/public/images/journey-map.jpg" alt="Prototype template, end to end journey map. This would also link out to a Miro or Mural board if one should be available.">
			<a href="#" class="govuk-link">{Link through to Miro/Mural board}</a>
		</p>
	</div>
	#}
	<div class="govuk-grid-column-one-quarter">
		<h2 class="govuk-heading-l">Pages</h2>
		<div class="govuk-form-group">
			<ol class="govuk-list govuk-list--number to-do">
				<li class="done"><a href="/dev-stable/start">Start</a></li>
				<li class="done"><a href="/dev-stable/content">Content</a></li>
				<li class="done"><a href="/dev-stable/what-is-your-name">What is your name?</a></li>
				<li class="done"><a href="/dev-stable/what-is-your-date-of-birth">What is your date birth?</a></li>
				<li class="done"><a href="/dev-stable/what-is-your-address">What is your address?</a></li>
				<li class="done"><a href="/dev-stable/contact-details">Contact details</a></li>
				<li class="done"><a href="/dev-stable/check-your-answers">Check your answers</a></li>
				<li class="done"><a href="/dev-stable/confirmation">Confirmation</a></li>
			</ol>
		</div>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<h2 class="govuk-heading-l">Validation</h2>
		<div class="govuk-form-group">
			<ul class="govuk-list govuk-list--bullet">
				<li class="done"><a href="/dev-stable/validation-what-is-your-name">What is your name?</a></li>
				<li class="done"><a href="/dev-stable/validation-what-is-your-date-of-birth">What is your date of birth?</a></li>
			</ul>
		</div>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<h2 class="govuk-heading-l">Emails</h2>
		<div class="govuk-form-group">
			<ul class="govuk-list govuk-list--bullet">
				<li class="done"><a href="/dev-stable/emails/submission-confirmation">Submission confirmation</a></li>
				<li class="done"><a href="/dev-stable/emails/application-received">Application received</a></li>
				<li class="done"><a href="/dev-stable/emails/application-rejected">Application rejected</a></li>
			</ul>
		</div>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<div class="govuk-form-group">
			<h2 class="govuk-heading-l">Defaults</h2>
			<ul class="govuk-list govuk-list--bullet">
				<li class="done"><a href="/dev-stable/page-not-found">Page not found</a> <strong class="govuk-tag govuk-tag--turquoise">Done</strong></li>
				<li class="done"><a href="/dev-stable/problem-with-the-service">Problem with the service</a> <strong class="govuk-tag govuk-tag--turquoise">Done</strong></li>
				<li class="done"><a href="/dev-stable/service-unavailable">Service unavailable</a> <strong class="govuk-tag govuk-tag--turquoise">Done</strong></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
