{% extends "../layouts/dev-stable-layout.html" %}

{% set serviceName %}
  Fraud referral form
{% endset %}

{% block pageTitle %}
  Error: Source of allegation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#source-of-allegation">Select the source of the allegation</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <form class="form" method="post">

        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Source of allegation
              </h1>
            </legend>

            <p id="source-of-the-allegation--error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select the source of the allegation
            </p>

            <div class="govuk-radios" data-module="govuk-radios">

              {# DWP STAFF MEMBER #}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation" name="source-of-allegation" type="radio" value="dwp-staff-member">
                <label class="govuk-label govuk-radios__label" for="source-of-allegation">
                  Department for Work and Pensions (DWP) staff member
                </label>
              </div>

              {# HMRC #}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation-2" name="source-of-allegation" type="radio" value="hmrc">
                <label class="govuk-label govuk-radios__label" for="source-of-allegation-2">
                  HM Revenue and Customs (HMRC)
                </label>
              </div>
 
              {# INTERNET #}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation-3" name="source-of-allegation" type="radio" value="internet">
                <label class="govuk-label govuk-radios__label" for="source-of-allegation-3">
                  Internet
                </label>
              </div>
 
              {# LOCAL AUTHORITY #}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation-4" name="source-of-allegation" type="radio" value="local-authority">
                <label class="govuk-label govuk-radios__label" for="source-of-allegation-4">
                  Local authority
                </label>
              </div>
 
              {# MEMBER OF PUBLIC #}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="source-of-allegation-5" name="source-of-allegation" type="radio" value="member-of-public">
                <label class="govuk-label govuk-radios__label" for="source-of-allegation-5">
                  Member of public
                </label>
              </div>

              {# NATIONAL BENEFIT FRAUD HOTLINE #}
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-6" name="source-of-allegation" type="radio" value="national-benefit-fraud-hotline">
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-6">
                    National Benefit Fraud Hotline (NBFH)
                  </label>
                </div>

                {# PERFORMANCE MEASURE REFERRAL #}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-7" name="source-of-allegation" type="radio" value="performance-measure-referral">
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-7">
                    Performance measure referral
                  </label>
                </div>

                {# POLICE #}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-8" name="source-of-allegation" type="radio" value="police">
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-8">
                    Police
                  </label>
                </div>

                {# SPAIN BENEFIT FRAUD HOTLINE #}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="source-of-allegation-9" name="source-of-allegation" type="radio" value="spain-benefit-fraud-hotline">
                  <label class="govuk-label govuk-radios__label" for="source-of-allegation-9">
                    Spain Benefit Fraud Hotline
                  </label>
                </div>

              </div>

          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: "govuk-!-margin-top-2",
          href: "index"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
