{% extends "../layouts/v1-layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '/index'
  })}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'Version 1'
    }) }}
  </div>
  
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l govuk-!-margin-top-6">
      Hypotheses
    </h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Test journey criteria
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              Users will complete the form easily / successfully
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
            </li>
            <li>
              Users may identify areas missing / where value could be added as this is SO streamlined vs. current
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
            </li>
            <li>
              Users will be happier using this and want this to replace the current form
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
            </li>
            <li>
              Users may consider referring MORE fraud now that many of the barriers are dismantled and the process smoothed
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
            </li>
            <li>
              Users may stop using workarounds (team leaders, alternative routes) to raise fraud as barriers to use are now removed
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
            </li>
          </ul>
        </dd>
      </div>
    </dl>

    {{ govukButton({
      text: "Start now",
      href: "../v1/index"
    }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
       
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          Monday 5th December 2022 to Monday 12th December 2022
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            <li>20x sessions</li>
            <li>Mix of functions, benefit lines, assistive tech use, frequency of use and fraud type experience</li>
            <li>Additional emphasis on frequent users (case prep and national benefit fraud hotline NBFH)</li>
          </ul>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#/">Research findings</a>
        </dd>
      </div>
    </dl>
    
  </div>
</div>

{% endblock %}
