{% extends "../layouts/v1-layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  })}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'Version 1'
    }) }}
  </div>
  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-6">
      Hypotheses
    </h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Journey
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          { Journey title }
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list">
            <li>
              <p class="govuk-body">Breakdown of journey into more discrete tasks with our hypothesis clearly defined using the <strong>we believe X will result in Y</strong> format.</p>
              <p class="govuk-body"></p>Each is then tagged as to whether the hypothesis has been <strong>validated</strong>, or if <strong>more research is needed</strong>.</p>
            </li>
            <div class="govuk-form-group">
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
              <strong class="govuk-tag govuk-tag--grey">
                More research needed
              </strong>
            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Tests
                </span>
              </summary>
              <div class="govuk-details__text">  
                <ul class="govuk-list">
                  <li>
                    <p class="govuk-body">Detail as to what was actually conducted as part of this discrete test that makes up this hypothesis within the context of the journey</p>
                  </li>
                </ul>
              </div>
            </details>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Overarching
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list">
            <li>
              <p class="govuk-body">Using more universal terms for the retrieval journey will not be detrimental to understanding the function of the service</p></li>
              <div class="govuk-form-group">
                <strong class="govuk-tag govuk-tag--green">Validated</strong>
              </div>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Tests
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li>replace "retrieval" with "find"</li>
                  </ul>
                </div>
              </details>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <li>
                <p class="govuk-body">Creating separate journeys to find an oversized LC plan and AC document will not impare the user's experience</p>
              </li>
              <div class="govuk-form-group">
                <strong class="govuk-tag govuk-tag--green">Validated</strong>
              </div>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Tests
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li>Create a new, specific card on the start page to find an oversized LC plan.</li>
                  </ul>
                </div>
              </details>
            </li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Document scanning and indexing
        </dt>
        <dd class="govuk-summary-list__value">
          <ol class="govuk-list govuk-list">
            <li>
              <p class="govuk-body">The ability to view the whole page preview will provide additional confidence whilst locating official numbers to key-in</p>
            </li>
            <div class="govuk-form-group">
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Tests
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list ">
                  <li>view full preview feature and test with AC3 - Cancellation</li>
                </ul>
              </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <li>
              <p class="govuk-body">Providing meaningful system feedback when issues are enountered will help solve problems and provide a better end-to-end experience</p>
            </li>
            <div class="govuk-form-group">
              <strong class="govuk-tag govuk-tag--grey">
                More research needed
              </strong>
            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Tests
                </span>
              </summary>
              <div class="govuk-details__text">
                <strong>Scenario:</strong> it's your turn on the rota and a large number of ACs have been delivered. There has been reports of network problems, <a href="#/">its going to be one of those days...</a>
                <ul class="govuk-list--bullet">
                  <li><a href="#/">no scanners found</a>
                    <strong class="govuk-tag govuk-tag--green">
                      Validated
                    </strong>
                  </li>
                  <li><a href="#/">scanner busy</a>
                    <strong class="govuk-tag govuk-tag--green">
                      Validated
                    </strong>
                  </li>
                  <li><a href="#/">problem scanning document</a>
                    <strong class="govuk-tag govuk-tag--grey">
                      More research needed
                    </strong> API messages
                  </li>
                  <li><a href="#/">official number error</a>
                    <strong class="govuk-tag govuk-tag--green">
                      Validated
                    </strong> Accessibility testing needed
                  </li>
                  <li><a href="#/"> 500 - Internal server error</a>
                    <strong class="govuk-tag govuk-tag--green">
                      Validated
                    </strong> Remove clear cache / browser guidance
                  </li>
                </ul>
              </div>
            </details>
          </ol>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Find documents
        </dt>
        <dd class="govuk-summary-list__value">
          <ol class="govuk-list govuk-list">  
            <li><p class="govuk-body">Separate journeys for finding an oversized LC or AC will simplify the retrieval interface and yield more specific results</p>
              <div class="govuk-form-group">
                <strong class="govuk-tag govuk-tag--green">
                  Validated
                </strong>
              </div>
            </li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Tests
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list--bullet">
                  <li>find AC - reg#, AC results, simplify label</li>
                  <li>find LC - reg#, reg date, LC results, simplify label</li>
                </ul>
              </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <li><p class="govuk-body">Editing existing records (LC and AC) can be sign-posted via the respective search results page</p>
              <div class="govuk-form-group">
                <strong class="govuk-tag govuk-tag--green">
                  Validated
                </strong>
              </div>
            </li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Tests
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list--bullet">
                  <li>Rresults page with an edit feature enabling information to be updated and saved</li>
                  <li>For LC plans, create a new version of the check your answers page to include registration number, date view preview</li>
                </ul>
              </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <li><p class="govuk-body">Surfacing AC information on a cover sheet will be easier to navigate with assistive tech than embeded metadata within a PDF</p>
              <div class="govuk-form-group">
                <strong class="govuk-tag govuk-tag--grey">
                  More research needed
                </strong>
              </div>
            </li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Tests
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  With DEN, test the end-to-end journey but focus testing with PDF varients:
                  <ol class="govuk-list--number">
                    <li>A flat scanned document</li>
                    <li>Tagged cover sheet content with scanned images</li> 
                    <li>Scanned images with embedded meta data</li>
                  </ol>
                </ul>
              </div>
            </details>
          </ol>
        </dd>
      </div>
    </dl>

    {{ govukButton({
      text: "Start now",
      href: "../v1/index"
    }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
       
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          { Date range }
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>7 x { User persona type one }</li>
            <li>1 x { User persona type two }</li>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#/">Round X research findings</a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{% endblock %}
