{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      {# WHO DO YOU WANT TO REPORT? and SOURCE OF ALLEGATION #}
      {# Two seperate pages brought into a single grouped section as they're contextual #}
      <h2 class="govuk-heading-m" id="section-allegation-details">
        Allegation details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who do you want to report?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['who-do-you-want-to-report'] == 'person' %}
              A person
            {% elif data['who-do-you-want-to-report'] == 'employer' %}
              An employer
            {% elif data['who-do-you-want-to-report'] == 'organisation' %}
              An organisation
            {% elif data['who-do-you-want-to-report'] == 'dwp-staff-member' %}
              A DWP staff member
            {% else %}
              Person
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="who-do-you-want-to-report">
              Change<span class="govuk-visually-hidden"> who do you want to report</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Source of allegation
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['source-of-allegation'] == 'hmrc' %}
              HMRC
            {% elif data['source-of-allegation'] == 'internet' %}
              Internet
            {% elif data['source-of-allegation'] == 'local-authority' %}
              Local authority
            {% elif data['source-of-allegation'] == 'member-of-public' %}
              Member of public
            {% elif data['source-of-allegation'] == 'national-benefit-fraud-hotline' %}
              National Benefit Fraud Hotline
            {% elif data['source-of-allegation'] == 'performance-measure-referral' %}
              Performance measure referral
            {% elif data['source-of-allegation'] == 'spanish-hotline' %}
              Spanish Hotline
            {% elif data['source-of-allegation'] == 'staff-referral' %}
              Staff referral
            {% else %}
              HMRC
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="source-of-allegation">
              Change<span class="govuk-visually-hidden"> source of allegation</span>
            </a>
          </dd>
        </div>
      </dl>

      {# SUSPECTS DETAILS #}
      <h2 class="govuk-heading-m" id="section-suspects-details">
        Suspect's details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['suspects-first-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-details#section-suspects-first-name">
              Change<span class="govuk-visually-hidden"> suspect's first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['suspects-last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-details#section-suspects-last-name">
              Change<span class="govuk-visually-hidden"> suspect's last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect </span>Known by another name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['known-by-another-name'] == 'yes' %}
              {{ data['known-by-another-name-full-name'] }}
            {% else %}
              No
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-details#section-known-by-another-name">
              Change<span class="govuk-visually-hidden"> known by another name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['suspects-ni-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-details#section-suspects-ni-number">
              Change<span class="govuk-visually-hidden"> suspect's National Insurance number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['suspects-address-line-1'] != '' %}
              {{ data['suspects-address-line-1'] }}<br>
            {% endif %}
            {% if data['suspects-address-line-2'] != '' %}
              {{ data['suspects-address-line-2'] }}<br>
            {% endif %}
            {% if data['suspects-address-town'] != '' %}
              {{ data['suspects-address-town'] }}<br>
            {% endif %}
            {% if data['suspects-address-county'] != '' %}
              {{ data['suspects-address-county'] }}<br>
            {% endif %}
            {% if data['suspects-address-postcode'] != '' %}
              {{ data['suspects-address-postcode'] }}<br>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-details#section-suspects-address">
              Change<span class="govuk-visually-hidden"> suspect's address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['suspects-date-of-birth-day'] }} 
            {% if data['suspects-date-of-birth-month'] == '1' or data['suspects-date-of-birth-month'] == '01' %}
              January 
            {% elif data['suspects-date-of-birth-month'] == '2' or data['suspects-date-of-birth-month'] == '02' %}
              February 
            {% elif data['suspects-date-of-birth-month'] == '3' or data['suspects-date-of-birth-month'] == '03' %}
              March 
            {% elif data['suspects-date-of-birth-month'] == '4' or data['suspects-date-of-birth-month'] == '04' %}
              April 
            {% elif data['suspects-date-of-birth-month'] == '5' or data['suspects-date-of-birth-month'] == '05' %}
              May 
            {% elif data['suspects-date-of-birth-month'] == '6' or data['suspects-date-of-birth-month'] == '06' %}
              June 
            {% elif data['suspects-date-of-birth-month'] == '7' or data['suspects-date-of-birth-month'] == '07' %}
              July 
            {% elif data['suspects-date-of-birth-month'] == '8' or data['suspects-date-of-birth-month'] == '08' %}
              August 
            {% elif data['suspects-date-of-birth-month'] == '9' or data['suspects-date-of-birth-month'] == '09' %}
              September 
            {% elif data['suspects-date-of-birth-month'] == '10' or data['suspects-date-of-birth-month'] == '10' %}
              October 
            {% elif data['suspects-date-of-birth-month'] == '11' or data['suspects-date-of-birth-month'] == '11' %}
              November 
            {% elif data['suspects-date-of-birth-month'] == '12' or data['suspects-date-of-birth-month'] == '12' %}
              December 
            {% else %}
              January 
            {% endif %}
            {{ data['suspects-date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-details#section-suspects-date-of-birth">
              Change<span class="govuk-visually-hidden"> suspect's date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Suspect's </span>Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['suspects-telephone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="suspects-details#section-suspects-telephone-number">
              Change<span class="govuk-visually-hidden"> suspect's telephone number</span>
            </a>
          </dd>
        </div>
      </dl>

      {# WHAT DO YOU THINK IS HAPPENING? #}
      <h2 class="govuk-heading-m" id="section-what-do-you-think-is-happening">
        What do you think is happening?
      </h2>

      {# LIVING TOGETHER #}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Living together
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['living-together'] == 'living-together' %}
              {{ data['living-together-hint'] }}
            {% else %}
              Not applicable
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-do-you-think-is-happening#living-together">
              Change<span class="govuk-visually-hidden"> living together</span>
            </a>
          </dd>
        </div>

        {# WORKING AND CLAIMING #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working and claiming
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['working-and-claiming'] == 'working-and-claiming' %}
              {{ data['working-and-claiming-hint'] }}
            {% else %}
              Not applicable
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-do-you-think-is-happening#working-and-claiming">
              Change<span class="govuk-visually-hidden"> working and claiming</span>
            </a>
          </dd>
        </div>

        {# CAPITAL #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Capital
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['capital'] == 'capital' %}
              {{ data['capital-hint'] }}
            {% else %}
              Not applicable
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-do-you-think-is-happening#capital">
              Change<span class="govuk-visually-hidden"> capital</span>
            </a>
          </dd>
        </div>

        {# OTHER INCOME #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other income
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['other-income'] == 'other-income' %}
              {{ data['other-income-hint'] }}
            {% else %}
              Not applicable
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-do-you-think-is-happening#other-income">
              Change<span class="govuk-visually-hidden"> other income</span>
            </a>
          </dd>
        </div>

        {# ABROAD FRAUD #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Abroad fraud
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['abroad-fraud'] == 'abroad-fraud' %}
              {{ data['abroad-fraud-hint'] }}
            {% else %}
              Not applicable
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-do-you-think-is-happening#abroad-fraud">
              Change<span class="govuk-visually-hidden"> abroad fraud</span>
            </a>
          </dd>
        </div>

        {# DOUBTFUL DISABILITY #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Doubtful disability
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['doubtful-disability'] == 'doubtful-disability' %}
              {{ data['doubtful-disability-hint'] }}
            {% else %}
              Not applicable
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-do-you-think-is-happening#doubtful-disability">
              Change<span class="govuk-visually-hidden"> doubtful disability</span>
            </a>
          </dd>
        </div>

        {# HOUSING RELATED #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Housing related
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['housing-related'] == 'housing-related' %}
              {{ data['housing-related-hint'] }}
            {% else %}
              Not applicable
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-do-you-think-is-happening#housing-related">
              Change<span class="govuk-visually-hidden"> housing related</span>
            </a>
          </dd>
        </div>

      </dl>

      {# SUBMITTER'S DETAILS #}
      <h2 class="govuk-heading-m" id="section-submitters-details">
        Submitter's details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter </span>First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['submitters-first-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="submitters-details#section-submitters-first-name">
              Change<span class="govuk-visually-hidden"> submitter's first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter's </span>Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['submitters-last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="submitters-details#section-submitters-last-name">
              Change<span class="govuk-visually-hidden"> submitter's last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter's </span>Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['submitters-email-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="submitters-details#section-submitters-email-address">
              Change<span class="govuk-visually-hidden"> submitter's email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="confirmation" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
          <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
            Confirm and submit
          </button>
      </form>

    </div>
  </div>

{% endblock %}
