{% extends "layout.html" %}

{% block pageTitle %}
  Submitter details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Submitter details
              </h1>
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                First name
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                Last name
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <div id="email-hint" class="govuk-hint">
                E.g. DWP email address.
              </div>
              <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
            </div>

          </fieldset>
        
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: "govuk-!-margin-top-2"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
