{% extends "../layouts/v3-layout.html" %}

{% set serviceName %}
  Fraud referral form
{% endset %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: '/index'
  })}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'Version 3'
    }) }}
  </div>
  
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l govuk-!-margin-top-6">
      Hypotheses
    </h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Journey
        </dt>
        <dt class="govuk-summary-list">
        </dt>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          { Journey title }
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list">
            <li>
              <p class="govuk-body">Breakdown of journey into more discrete tasks with our hypothesis clearly defined using the <strong>we believe X will result in Y</strong> format.</p>
              <p class="govuk-body">Each is then tagged as to whether the hypothesis has been <strong>validated</strong>, or if <strong>more research is needed</strong>.</p>
              <div class="govuk-form-group">
                <strong class="govuk-tag govuk-tag--green">
                  Validated
                </strong>
                <strong class="govuk-tag govuk-tag--grey">
                  More research needed
                </strong>
              </div>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Tests
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <p class="govuk-body">Detail as to what was actually conducted as part of this discrete test that makes up this hypothesis within the context of the journey</p>
                  </ul>
                </div>
              </details>
            </li>
          </ul>
        </dd>
      </div>
    </dl>

{#
    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select which prototype variant to run">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Prototype variant to run
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prototype-variant" name="prototype-variant" type="radio" value="one" {{ checked("prototype-variant", "one") }}>
              <label class="govuk-label govuk-radios__label" for="prototype-variant">
                <strong>Route One</strong>
              </label>
              <div id="prototype-variant-hint" class="govuk-hint govuk-radios__hint">
                The 'What do you think is happening?' page has fraud details and fraud durations combined as a single page.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prototype-variant-2" name="prototype-variant" type="radio" value="two" {{ checked("prototype-variant", "two") }}>
              <label class="govuk-label govuk-radios__label" for="prototype-variant-2">
                <strong>Route Two</strong>
              </label>
              <div id="prototype-variant-2-hint" class="govuk-hint govuk-radios__hint">
                The 'What do you think is happening?' details and fraud durations remain as two separate pages.
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: 'Continue',
        classes: "govuk-!-margin-top-2"
      }) }}

    </form>
#}

    <h2 class="govuk-heading-l">
      Prototype variant to run
    </h2>
    <p class="govuk-body">
      <strong>Route one:</strong><br>The 'What do you think is happening?' page has fraud details and fraud durations combined as a single page.
    </p>
    {{ govukButton({
      text: "Start route one now",
      href: "../v3/index?route=one",
      classes: "govuk-!-margin-bottom-8"
    }) }}

    <p class="govuk-body">
      <strong>Route two:</strong><br>The 'What do you think is happening?' details and fraud durations remain as two separate pages.
    </p>
    {{ govukButton({
      text: "Start route two now",
      href: "../v3/index?route=two"
    }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
       
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          { Date range }
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            <li>7 x { User persona type one }</li>
            <li>1 x { User persona type two }</li>
          </ul>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#/">Round X research findings</a>
        </dd>
      </div>
    </dl>
    
  </div>
</div>

{% endblock %}
