{% extends "../layouts/v3-layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  })}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'Version 3'
    }) }}
  </div>
  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-6">
      Hypotheses
    </h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Journey
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          { Journey title }
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list">
            <li>
              <p class="govuk-body">Breakdown of journey into more discrete tasks with our hypothesis clearly defined using the <strong>we believe X will result in Y</strong> format.</p>
              <p class="govuk-body"></p>Each is then tagged as to whether the hypothesis has been <strong>validated</strong>, or if <strong>more research is needed</strong>.</p>
            </li>
            <div class="govuk-form-group">
              <strong class="govuk-tag govuk-tag--green">
                Validated
              </strong>
              <strong class="govuk-tag govuk-tag--grey">
                More research needed
              </strong>
            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Tests
                </span>
              </summary>
              <div class="govuk-details__text">  
                <ul class="govuk-list">
                  <li>
                    <p class="govuk-body">Detail as to what was actually conducted as part of this discrete test that makes up this hypothesis within the context of the journey</p>
                  </li>
                </ul>
              </div>
            </details>
          </ul>
        </dd>
      </div>
    </dl>

    {{ govukButton({
      text: "Start now",
      href: "../v1/index"
    }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
       
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          { Date range }
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>7 x { User persona type one }</li>
            <li>1 x { User persona type two }</li>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#/">Round X research findings</a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{% endblock %}
