{% extends "../layouts/v3-layout.html" %}

{% set serviceName %}
  Fraud referral form
{% endset %}

{% block pageTitle %}
  Sorry, there is a problem with the service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Sorry, there is a problem with the service
          </h1>
          
          <p class="govuk-body">
            At the moment, you cannot report an employer or organisation using this form. This will be available in the future.
          </p>
          
          <p class="govuk-body">
            If you need to report an employer or organisation now, visit <a class="govuk-link" href="#">{link to where they can do this}</a>.
          </p>
        
          <p class="govuk-body">
            Return to <a href="index" class="govuk-link">service start page</a>.
          </p>

        </div>
      </div>
    </main>
  </div>

{% endblock %}
