{% extends "../layouts/v3-layout.html" %}

{% set serviceName %}
  Fraud referral form
{% endset %}

{% block pageTitle %}
  {% if data['page-errors'] == 'yes' %}
    Error: What type of fraud do you think is happening? – {{ serviceName }} – GOV.UK Prototype Kit
  {% else %}
    What type of fraud do you think is happening? – {{ serviceName }} – GOV.UK Prototype Kit
  {% endif %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['page-errors'] == 'yes' %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" id="error-summary" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">

              {% if (data['living-together'] == 'living-together' and data['living-together-hint'].length == 0) or 
                (data['working-and-claiming'] == 'working-and-claiming' and data['working-and-claiming-hint'].length == 0) or 
                (data['id-fraud'] == 'id-fraud' and data['id-fraud-hint'].length == 0) or 
                (data['capital'] == 'capital' and data['capital-hint'].length == 0) or 
                (data['other-income'] == 'other-income' and data['other-income-hint'].length == 0) or 
                (data['abroad-fraud'] == 'abroad-fraud' and data['abroad-fraud-hint'].length == 0) or 
                (data['doubtful-disability'] == 'doubtful-disability' and data['doubtful-disability-hint'].length == 0) or 
                (data['housing-related'] == 'housing-related' and data['housing-related-hint'].length == 0) or 
                (data['not-providing-care'] == 'not-providing-care' and data['not-providing-care-hint'].length == 0) or 
                (data['other'] == 'other' and data['other-hint'].length == 0) %}

                {% if (data['living-together'] == 'living-together' and data['living-together-hint'].length == 0) %}
                  <li>
                    <a href="#living-together">Enter the details of the living together fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['working-and-claiming'] == 'working-and-claiming' and data['working-and-claiming-hint'].length == 0) %}
                  <li>
                    <a href="#working-and-claiming">Enter the details of the working and claiming fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['id-fraud'] == 'id-fraud' and data['id-fraud-hint'].length == 0) %}
                  <li>
                    <a href="#id-fraud">Enter the details of the ID fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['capital'] == 'capital' and data['capital-hint'].length == 0) %}
                  <li>
                    <a href="#capital">Enter the details of the capital fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['other-income'] == 'other-income' and data['other-income-hint'].length == 0) %}
                  <li>
                    <a href="#other-income">Enter the details of the other income fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['abroad-fraud'] == 'abroad-fraud' and data['abroad-fraud-hint'].length == 0) %}
                  <li>
                    <a href="#abroad-fraud">Enter the details of the abroad fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['doubtful-disability'] == 'doubtful-disability' and data['doubtful-disability-hint'].length == 0) %}
                  <li>
                    <a href="#doubtful-disability">Enter the details of the doubtful disability fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['housing-related'] == 'housing-related' and data['housing-related-hint'].length == 0) %}
                  <li>
                    <a href="#housing-related">Enter the details of the housing related fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['not-providing-care'] == 'not-providing-care' and data['not-providing-care-hint'].length == 0) %}
                  <li>
                    <a href="#not-providing-care">Enter the details of the not providing care fraud you think is happening</a>
                  </li>
                {% endif %}

                {% if (data['other'] == 'other' and data['other-hint'].length == 0) %}
                  <li>
                    <a href="#other">Enter the details of the other types of fraud you think is happening</a>
                  </li>
                {% endif %}

              {% elif (data['living-together'] != 'living-together') or 
                (data['working-and-claiming'] != 'working-and-claiming') or 
                (data['id-fraud'] != 'id-fraud') or 
                (data['capital'] != 'capital') or 
                (data['other-income'] != 'other-income') or 
                (data['abroad-fraud'] != 'abroad-fraud') or 
                (data['doubtful-disability'] != 'doubtful-disability') or 
                (data['housing-related'] != 'housing-related') or 
                (data['not-providing-care'] != 'not-providing-care') or 
                (data['other'] != 'other') %}
                  <li>
                    <a href="#what-do-you-think-is-happening">Select what type of fraud you think is happening</a>
                  </li>
              {% else %}
                {# Else statement should never be triggered #}
              {% endif %}

            </ul>
          </div>
        </div>
      {% else %}
        {# Do nothing #}
      {% endif %}

      <form class="form" method="post">
        
        {% if data['page-errors'] == 'yes' %}
          <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" id="what-do-you-think-is-happening" aria-describedby="what-do-you-think-is-happening-hint what-do-you-think-is-happening-error">
        {% else %}
          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" id="what-do-you-think-is-happening" aria-describedby="what-do-you-think-is-happening-hint">
        {% endif %}

          <fieldset class="govuk-fieldset" id="what-do-you-think-is-happening" aria-describedby="what-do-you-think-is-happening-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of fraud do you think is happening?
              </h1>
            </legend>
            <div id="what-do-you-think-is-happening-hint" class="govuk-hint">
              Select all options that apply to this referral. Include as much information as you can about the potential fraud you are reporting.
            </div>

            {% if data['page-errors'] == 'yes' %}

              {% if (data['living-together'] == 'living-together' and data['living-together-hint'].length == 0) or 
                (data['working-and-claiming'] == 'working-and-claiming' and data['working-and-claiming-hint'].length == 0) or 
                (data['id-fraud'] == 'id-fraud' and data['id-fraud-hint'].length == 0) or 
                (data['capital'] == 'capital' and data['capital-hint'].length == 0) or 
                (data['other-income'] == 'other-income' and data['other-income-hint'].length == 0) or 
                (data['abroad-fraud'] == 'abroad-fraud' and data['abroad-fraud-hint'].length == 0) or 
                (data['doubtful-disability'] == 'doubtful-disability' and data['doubtful-disability-hint'].length == 0) or 
                (data['housing-related'] == 'housing-related' and data['housing-related-hint'].length == 0) or 
                (data['not-providing-care'] == 'not-providing-care' and data['not-providing-care-hint'].length == 0) or 
                (data['other'] == 'other' and data['other-hint'].length == 0) %}
                  {# <p id="what-do-you-think-is-happening-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter the details of the fraud types you think is happening
                  </p> #}
              {% elif (data['living-together'] != 'living-together') or 
                (data['working-and-claiming'] != 'working-and-claiming') or 
                (data['id-fraud'] != 'id-fraud') or 
                (data['capital'] != 'capital') or 
                (data['other-income'] != 'other-income') or 
                (data['abroad-fraud'] != 'abroad-fraud') or 
                (data['doubtful-disability'] != 'doubtful-disability') or 
                (data['housing-related'] != 'housing-related') or 
                (data['not-providing-care'] != 'not-providing-care') or 
                (data['other'] != 'other') %}
                  <p id="what-do-you-think-is-happening-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Select what type of fraud you think is happening
                  </p>
              {% else %}
                {# Else statement should never be triggered #}
              {% endif %}

            {% endif %}

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              
              {# LIVING TOGETHER #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="living-together" name="living-together" type="checkbox" value="living-together" {{ checked("living-together", "living-together") }} data-aria-controls="conditional-living-together">
                <label class="govuk-label govuk-checkboxes__label" for="living-together">
                  <strong>Living together</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-living-together">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['living-together'] == 'living-together' and data['living-together-hint'].length == 0) %}

                  {% if (data['how-long-living-together'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="living-together-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>the alleged partner's name</li>
                          <li>any addresses involved</li>
                          <li>details of their work (if they are working)</li>
                          <li>details of their routine, for example times when they are at home</li>
                          <li>the vehicles they use</li>
                          <li>any children involved, including their names and ages</li>
                          <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="living-together-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the living together fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="living-together-hint" name="living-together-hint" rows="5" aria-describedby="living-together-hint-info">{{ data['living-together-hint'] }}</textarea>
                    </div>
                    <div id="living-together-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                  
                {% else %}
                  <div class="govuk-form-group">
                    <label for="living-together-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>the alleged partner's name</li>
                        <li>any addresses involved</li>
                        <li>details of their work (if they are working)</li>
                        <li>details of their routine, for example times when they are at home</li>
                        <li>the vehicles they use</li>
                        <li>any children involved, including their names and ages</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="living-together-hint" name="living-together-hint" rows="5" aria-describedby="living-together-hint-info">{{ data['living-together-hint'] }}</textarea>
                  </div>
                  <div id="living-together-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# WORKING AND CLAIMING #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="working-and-claiming" name="working-and-claiming" type="checkbox" value="working-and-claiming" {{ checked("working-and-claiming", "working-and-claiming") }} data-aria-controls="conditional-working-and-claiming">
                <label class="govuk-label govuk-checkboxes__label" for="working-and-claiming">
                  <strong>Working and claiming</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-working-and-claiming">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['working-and-claiming'] == 'working-and-claiming' and data['working-and-claiming-hint'].length == 0) %}

                  {% if (data['how-long-working-and-claiming'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="working-and-claiming-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>who is actually working</li>
                        <li>their current employer's details, for example employer name</li>
                        <li>if they are self-employed</li>
                        <li>how they are paid</li>
                        <li>how they travel to work</li>
                        <li>their routine</li>
                        <li>their uniform</li>
                        <li>the vehicles they use</li>
                        <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="working-and-claiming-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the working and claiming fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="working-and-claiming-hint" name="working-and-claiming-hint" rows="5" aria-describedby="working-and-claiming-hint-info">{{ data['working-and-claiming-hint'] }}</textarea>
                    </div>
                    <div id="working-and-claiming-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                  
                {% else %}
                  <div class="govuk-form-group">
                    <label for="working-and-claiming-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>who is actually working</li>
                        <li>their current employer's details, for example employer name</li>
                        <li>if they are self-employed</li>
                        <li>how they are paid</li>
                        <li>how they travel to work</li>
                        <li>their routine</li>
                        <li>their uniform</li>
                        <li>the vehicles they use</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="working-and-claiming-hint" name="working-and-claiming-hint" rows="5" aria-describedby="working-and-claiming-hint-info">{{ data['working-and-claiming-hint'] }}</textarea>
                  </div>
                  <div id="working-and-claiming-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# ID FRAUD #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="id-fraud" name="id-fraud" type="checkbox" value="id-fraud" {{ checked("id-fraud", "id-fraud") }} data-aria-controls="conditional-id-fraud">
                <label class="govuk-label govuk-checkboxes__label" for="id-fraud">
                  <strong>ID fraud</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-id-fraud">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['id-fraud'] == 'id-fraud' and data['id-fraud-hint'].length == 0) %}

                  {% if (data['how-long-id-fraud'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="id-fraud-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>why you think the person is committing ID fraud</li>
                          <li>the names they use</li>
                          <li>the addresses they use</li>
                          <li>the types of documents being used for the identity</li>
                          <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="id-fraud-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the ID fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="id-fraud-hint" name="id-fraud-hint" rows="5" aria-describedby="id-fraud-hint-info">{{ data['id-fraud-hint'] }}</textarea>
                    </div>
                    <div id="id-fraud-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                  
                {% else %}
                  <div class="govuk-form-group">
                    <label for="id-fraud-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>why you think the person is committing ID fraud</li>
                        <li>the names they use</li>
                        <li>the addresses they use</li>
                        <li>the types of documents being used for the identity</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="id-fraud-hint" name="id-fraud-hint" rows="5" aria-describedby="id-fraud-hint-info">{{ data['id-fraud-hint'] }}</textarea>
                  </div>
                  <div id="id-fraud-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# CAPITAL #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="capital" name="capital" type="checkbox" value="capital" {{ checked("capital", "capital") }} data-aria-controls="conditional-capital">
                <label class="govuk-label govuk-checkboxes__label" for="capital">
                  <strong>Capital</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-capital">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['capital'] == 'capital' and data['capital-hint'].length == 0) %}

                  {% if (data['how-long-capital'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="capital-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>the amount</li>
                        <li>when they received it</li>
                        <li>where and who it came from</li>
                        <li>where it is kept</li>
                        <li>any savings or income</li>
                        <li>any examples of living beyond means, for example major purchases</li>
                        <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="capital-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the capital fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="capital-hint" name="capital-hint" rows="5" aria-describedby="capital-hint-info">{{ data['capital-hint'] }}</textarea>
                    </div>
                    <div id="capital-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}

                {% else %}
                  <div class="govuk-form-group">
                    <label for="capital-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>the amount</li>
                        <li>when they received it</li>
                        <li>where and who it came from</li>
                        <li>where it is kept</li>
                        <li>any savings or income</li>
                        <li>any examples of living beyond means, for example major purchases</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="capital-hint" name="capital-hint" rows="5" aria-describedby="capital-hint-info">{{ data['capital-hint'] }}</textarea>
                  </div>
                  <div id="capital-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# OTHER INCOME #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-income" name="other-income" type="checkbox" value="other-income" {{ checked("other-income", "other-income") }} data-aria-controls="conditional-other-income">
                <label class="govuk-label govuk-checkboxes__label" for="other-income">
                  <strong>Other income</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-income">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['other-income'] == 'other-income' and data['other-income-hint'].length == 0) %}

                  {% if (data['how-long-other-income'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="other-income-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>the amount</li>
                        <li>where the income comes from, for example maintenance, a family member or shares</li>
                        <li>who it comes from</li>
                        <li>how often they receive it</li>
                        <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="other-income-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the other income fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="other-income-hint" name="other-income-hint" rows="5" aria-describedby="other-income-hint-info">{{ data['other-income-hint'] }}</textarea>
                    </div>
                    <div id="other-income-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                  
                {% else %}
                  <div class="govuk-form-group">
                    <label for="other-income-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>the amount</li>
                        <li>where the income comes from, for example maintenance, a family member or shares</li>
                        <li>who it comes from</li>
                        <li>how often they receive it</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="other-income-hint" name="other-income-hint" rows="5" aria-describedby="other-income-hint-info">{{ data['other-income-hint'] }}</textarea>
                  </div>
                  <div id="other-income-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# ABROAD FRAUD #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="abroad-fraud" name="abroad-fraud" type="checkbox" value="abroad-fraud" {{ checked("abroad-fraud", "abroad-fraud") }} data-aria-controls="conditional-abroad-fraud">
                <label class="govuk-label govuk-checkboxes__label" for="abroad-fraud">
                  <strong>Abroad fraud</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-abroad-fraud">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['abroad-fraud'] == 'abroad-fraud' and data['abroad-fraud-hint'].length == 0) %}

                  {% if (data['how-long-abroad-fraud'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="abroad-fraud-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>where they have gone</li>
                        <li>when they went abroad</li>
                        <li>why they went abroad</li>
                        <li>how long they have been abroad</li>
                        <li>when they are coming back</li>
                        <li>any property they own abroad</li>
                        <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="abroad-fraud-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the abroad fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="abroad-fraud-hint" name="abroad-fraud-hint" rows="5" aria-describedby="abroad-fraud-hint-info">{{ data['abroad-fraud-hint'] }}</textarea>
                    </div>
                    <div id="abroad-fraud-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                  
                {% else %}
                  <div class="govuk-form-group">
                    <label for="abroad-fraud-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>where they have gone</li>
                        <li>when they went abroad</li>
                        <li>why they went abroad</li>
                        <li>how long they have been abroad</li>
                        <li>when they are coming back</li>
                        <li>any property they own abroad</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="abroad-fraud-hint" name="abroad-fraud-hint" rows="5" aria-describedby="abroad-fraud-hint-info">{{ data['abroad-fraud-hint'] }}</textarea>
                  </div>
                  <div id="abroad-fraud-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# DOUBTFUL DISABILITY #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="doubtful-disability" name="doubtful-disability" type="checkbox" value="doubtful-disability" {{ checked("doubtful-disability", "doubtful-disability")}} data-aria-controls="conditional-doubtful-disability">
                <label class="govuk-label govuk-checkboxes__label" for="doubtful-disability">
                  <strong>Doubtful disability</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-doubtful-disability">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['doubtful-disability'] == 'doubtful-disability' and data['doubtful-disability-hint'].length == 0) %}

                  {% if (data['how-long-doubtful-disability'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="doubtful-disability-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>the type of disability</li>
                        <li>any disability equipment they use</li>
                        <li>why you think the disability is in doubt</li>
                        <li>activities outside of the property</li>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>how often</li>
                            <li>how long for</li>
                          </ul>
                        <li>people who are with them when they go out</li>
                        <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="doubtful-disability-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the doubtful disability fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="doubtful-disability-hint" name="doubtful-disability-hint" rows="5" aria-describedby="doubtful-disability-hint-info">{{ data['doubtful-disability-hint'] }}</textarea>
                    </div>
                    <div id="doubtful-disability-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                  
                {% else %}
                  <div class="govuk-form-group">
                    <label for="doubtful-disability-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>the type of disability</li>
                        <li>any disability equipment they use</li>
                        <li>why you think the disability is in doubt</li>
                        <li>activities outside of the property</li>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>how often</li>
                            <li>how long for</li>
                          </ul>
                        <li>people who are with them when they go out</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="doubtful-disability-hint" name="doubtful-disability-hint" rows="5" aria-describedby="doubtful-disability-hint-info">{{ data['doubtful-disability-hint'] }}</textarea>
                  </div>
                  <div id="doubtful-disability-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# HOUSING RELATED #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="housing-related" name="housing-related" type="checkbox" value="housing-related" {{ checked("housing-related", "housing-related") }} data-aria-controls="conditional-housing-related">
                <label class="govuk-label govuk-checkboxes__label" for="housing-related">
                  <strong>Housing related</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-housing-related">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['housing-related'] == 'housing-related' and data['housing-related-hint'].length == 0) %}

                  {% if (data['how-long-housing-related'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="housing-related-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>why you think they are not at their address</li>
                        <li>how long they have been away</li>
                        <li>whether they return to their address</li>
                        <li>where they are living</li>
                        <li>is anyone paying rent to the property owner as a lodger or subletter?</li>
                        <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="housing-related-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the housing related fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="housing-related-hint" name="housing-related-hint" rows="5" aria-describedby="housing-related-hint-info">{{ data['housing-related-hint'] }}</textarea>
                    </div>
                    <div id="housing-related-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                  
                {% else %}
                  <div class="govuk-form-group">
                    <label for="housing-related-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>why you think they are not at their address</li>
                        <li>how long they have been away</li>
                        <li>whether they return to their address</li>
                        <li>where they are living</li>
                        <li>is anyone paying rent to the property owner as a lodger or subletter?</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="housing-related-hint" name="housing-related-hint" rows="5" aria-describedby="housing-related-hint-info">{{ data['housing-related-hint'] }}</textarea>
                  </div>
                  <div id="housing-related-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# NOT PROVIDING CARE #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="not-providing-care" name="not-providing-care" type="checkbox" value="not-providing-care" {{ checked("not-providing-care", "not-providing-care") }} data-aria-controls="conditional-not-providing-care">
                <label class="govuk-label govuk-checkboxes__label" for="not-providing-care">
                  <strong>Not providing care</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-not-providing-care">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['not-providing-care'] == 'not-providing-care' and data['not-providing-care-hint'].length == 0) %}

                  {% if (data['how-long-not-providing-care'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="not-providing-care-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>why you think they are receiving benefit as a carer but not caring for a disabled person</li>
                          <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="not-providing-care-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the not providing care fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="not-providing-care-hint" name="not-providing-care-hint" rows="5" aria-describedby="not-providing-care-hint-info">{{ data['not-providing-care-hint'] }}</textarea>
                    </div>
                    <div id="not-providing-care-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                
                {% else %}
                  <div class="govuk-form-group">
                    <label for="not-providing-care-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>why you think they are receiving benefit as a carer but not caring for a disabled person</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="not-providing-care-hint" name="not-providing-care-hint" rows="5" aria-describedby="not-providing-care-hint-info">{{ data['not-providing-care-hint'] }}</textarea>
                  </div>
                  <div id="not-providing-care-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

              {# OTHER TYPES OF FRAUD #}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other" name="other" type="checkbox" value="other" {{ checked("other", "other") }} data-aria-controls="conditional-other">
                <label class="govuk-label govuk-checkboxes__label" for="other">
                  <strong>Other types of fraud</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
                {% if (data['other'] == 'other' and data['other-hint'].length == 0) %}

                  {% if (data['how-long-other'] == "") %}
                    <div class="govuk-form-group govuk-form-group--error">
                      <label for="other-hint">
                        <p class="govuk-body">You could include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>the type or types of fraud you think are being committed, for example childcare fraud, household composition or imprisonment</li>
                        <li>why you think this is happening</li>
                        <li>any additional information</li>
                        </ul>
                      </label>
                      <p id="other-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter the details of the other types of fraud you think is happening
                      </p>
                      <textarea class="govuk-textarea govuk-js-character-count govuk-input--error" id="other-hint" name="other-hint" rows="5" aria-describedby="other-hint-info">{{ data['other-hint'] }}</textarea>
                    </div>
                    <div id="other-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 1,500 characters
                    </div>
                  {% endif %}
                
                {% else %}
                  <div class="govuk-form-group">
                    <label for="other-hint">
                      <p class="govuk-body">You could include:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>the type or types of fraud you think are being committed, for example childcare fraud, household composition or imprisonment</li>
                        <li>why you think this is happening</li>
                        <li>any additional information</li>
                      </ul>
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="other-hint" name="other-hint" rows="5" aria-describedby="other-hint-info">{{ data['other-hint'] }}</textarea>
                  </div>
                  <div id="other-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1,500 characters
                  </div>

                {% endif %}
                </div>
              </div>

            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: "govuk-!-margin-top-2"
        }) }}

      </form>
    </div>

{#
    <div class="govuk-grid-column-one-third">
      <p>
        PAGE ERRORS: {{ data['page-errors'] }}
      </p>
      <p>
        LIVING TOGETHER: {{ data['living-together'] }}<br>
        LIVING TOGETHER HINT: {{ data['living-together-hint'] }}
      </p>
      <p>
        WORKING AND CLAIMING: {{ data['working-and-claiming'] }}<br>
        WORKING AND CLAIMING HINT: {{ data['working-and-claiming-hint'] }}
      </p>
      <p>
        ID FRAUD: {{ data['id-fraud'] }}<br>
        ID FRAUD HINT: {{ data['id-fraud-hint'] }}
      </p>
      <p>
        CAPITAL: {{ data['capital'] }}<br>
        CAPITAL: {{ data['capital-hint'] }}
      </p>
      <p>
        OTHER INCOME: {{ data['other-income'] }}<br>
        OTHER INCOME HINT: {{ data['other-income-hint'] }}
      </p>
      <p>
        ABROAD FRAUD: {{ data['abroad-fraud'] }}<br>
        ABROAD FRAUD HINT: {{ data['abroad-fraud-hint'] }}
      </p>
      <p>
        DOUBTFUL DISABILITY: {{ data['doubtful-disability'] }}<br>
        DOUBTFUL DISABILITY HINT: {{ data['doubtful-disability-hint'] }}
      </p>
      <p>
        HOUSING RELATED: {{ data['housing-related'] }}<br>
        HOUSING RELATED HINT: {{ data['housing-related-hint'] }}
      </p>
      <p>
        NOT PROVIDING CARE: {{ data['not-providing-care'] }}<br>
        NOT PROVIDING CARE HINT: {{ data['not-providing-care-hint'] }}
      </p>
      <p>
        OTHER TYPES OF FRAUD: {{ data['other'] }}<br>
        OTHER TYPES OF FRAUD HINT: {{ data['other-hint'] }}<br>
      </p>
    </div>
#}

  </div>

{% endblock %}
